<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <p class="logo header__logo">
        <img src="../img/logo.png" alt="Логотип компании">
      </p>
      <button class="menu-burger header__burger" type="button">
        <i class="icon-menu"></i>
        <span class="menu-burger__rel">Открыть меню</span>
      </button>
      <nav class="navigation header__navigation">
        <div class="navigation__inner">
          <button class="navigation__close" type="button">
            <span>Закрыть меню</span>
            <i class="icon-close"></i>
          </button>
          <ul class="navigation__list header__list">
            <li>
              <a href="index.html">Главная</a>
            </li>
            <li>
              <a href="#services" class="js-anchor">Услуги</a>
            </li>
            <li>
              <a href="#cases" class="js-anchor">кейсы</a>
            </li>
            <li>
              <a href="#advantages" class="js-anchor">Преимущества</a>
            </li>
            <li>
              <a href="#works" class="js-anchor">Как мы работаем</a>
            </li>
            <li>
              <a href="#contacts" class="js-anchor">Контакты</a>
            </li>
          </ul>
        </div>
        <p class="navigation__overlay"></p>
      </nav>
    </div>
    <section class="header__main">
      <ul class="social header__social">
        <li>
          <a href="#">
            <span class="social__name">instagram</span>
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="social__name">facebook</span>
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="social__name">vk</span>
            <i class="icon-vk"></i>
          </a>
        </li>
      </ul>
      <ul class="lang header__lang">
        <li class="active">
          <a href="#">ru</a>
        </li>
        <li>
          <a href="#">en</a>
        </li>
      </ul>
      <img src="../img/header-medical.jpg" alt="Фотография по тематике">
      <div class="header__content">
        <p class="header__description">
          Разработка digital проектов для направления <strong>медицина и здоровье</strong>
        </p>
        <h1>Племя - проекты которые работают</h1>
        <p class="header__wrapper-button">
        <button type="button" class="button header__button js-open-modal" data-modal="call">Заказать звонок</button>
      </p>
      </div>
    </section>
    <p class="header__name-company">племя</p>
  </div>
</header>

